.page-title {
  font-size: var(--fs-61);
  margin-bottom: 64px;
}

.section-title {
  font-size: var(--fs-31);
  font-weight: 800;
  margin-bottom: 16px;
}

.section-title span {
  color: var(--gray);
}

p {
  font-size: var(--fs-22);
  line-height: 32px;
  margin-bottom: 48px;
}

/* span p {
  margin-left: 24px;
} */