@import url("./reset.css");
@import url("./variables.css");
@import url("./menu.css");

::selection {
  color: white;
  background: #ff7733;
}

::-moz-selection {
  color: white;
  background: #ff7733;
}

main {
  padding: 100px;
  margin-top: 48px;
  padding-bottom: 64px;
}

.page-title {
  font-size: var(--fs-61);
  margin-bottom: 64px;
}

a.link {
  color: #ff7733;
}

a.link:hover {
  color: #db5625;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 144px;
}

footer a {
  color: var(--gray);
  font-size: 24px;
}

footer a:hover {
  color: #ff7733;
}

@media screen and (max-width: 865px) {
  main {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 545px) {
  footer a {
    font-size: 18px;
  }
}

@media screen and (max-width: 525px) {
  main {
    padding: 100px 25px;
    padding-bottom: 48px;
  }

  footer {
    margin-top: 100px;
  }

  footer a {
    font-size: 14px;
  }
}
