@import url("./reset.css");
@import url("./variables.css");
@import url("./menu.css");

main {
  padding: 100px;
  margin-top: 48px;
}

a.link {
  color: #FF7733;
}

a.link:hover {
  color: #DB5625;
}

@media screen and (max-width: 865px) {
  main {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 525px) {
  main {
    padding: 100px 25px;
  }
}
