html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fs-12);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: auto;
  color: var(--black);
  /* background: var(--primary-background); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  border: 0;
  transition: 250ms background;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  background: white;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
